<?xml version="1.0" encoding="utf-8"?>
<!-- 
  файл манифеста модуля и его конфигурации 
  sys:version - номер версии структуры файла 
-->
<module sys:version="1.0" xmlns="urish://module/config" xmlns:sys="urish://module/config/system">
  <!-- метаданные модуля-->
  <info>
    <id>D79E637B-B396-4975-BA63-44878CA13363</id>
    <name>URISH Core</name>
    <version>1.0.0.0</version>
    <description>URISH Core Module description</description>
    <groupName>Core</groupName>
    <author>
      <name></name>
      <company></company>
      <copyright></copyright>
      <contacts></contacts>
    </author>
  </info>
  <!-- зависимости модуля от других модулей и компонентов -->
  <references>
    <!--<Module id="00000000-0000-0000-0000-000000000001" name="Referenced module" version="1.0.*-1.0.*"/>-->
  </references>
  <!-- блок конфигурационных данных, используемых модулем в процессе работы-->
  <configuration>
    <!-- различные теги настроек -->
  </configuration>
</module>